TgCrypto
asyncio
ffmpeg-python
py-tgcalls==0.9.7
pyrogram==1.4.12
youtube_dl
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/joetats/youtube_search@master
git+https://github.com/alexmercerind/youtube-search-python@main
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
aiogram<3.0
requests
pillow
heroku3
speedtest-cli
motor
psutil
rich
future
wget
pyyaml==5.4
python-arq
bs4
numpy
